
// ---------------------- nav bar -------------------

.main-nav {
    position: fixed;
    width: 100vw;
    z-index:1;
}

.Desktop-container {
    display :none;
}
.Mobile-container {
    background-image: url("../../images/mobile/image-header.jpg");
    display :flex ; 
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    .mobile-logo {
        margin: 2rem;
    }
    #toggle-bar {
       width: 3rem;
       height: 0.5rem; 
       position: relative;
       margin: 1rem;
        span {
            position:  absolute;
            height: 0.1rem;
            width: 2.5rem;
            left: -2.2rem;
           background-color: $White;

        }
        :nth-child(1){
            top : 1rem; 
        }
        :nth-child(2){
            top : 1.8rem; 
        }
        :nth-child(3){
            top: 2.6rem;
        }
    }

    .Mobile-main-nav__list{
        display:none;
        flex-direction: column;
        position: absolute;
        left: 2rem;
        top: 7rem;
        height: 60vh;
        width: 85vw;
        align-items: center;
        background-color:$White;
        justify-content: space-around;
        margin :0;
        padding: 1.2rem 0; 
        font-weight: 600;

        li {
            list-style-type: none;
            margin: 3rem;
            a {
                font-size: 2rem;
                text-decoration: none;
                color : $Dark-grayish-blue ;
            }

        }
        .Mobile-main-nav__item__yellow-boutton{
        width: 13rem;
        height: 5rem;
        background: $Yellow;
        text-align: center;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center; 
        font-family: $frauce;
        color : black; 
        text-transform: uppercase;
        font-size : 1.5rem; 
        font-weight: 900;
        }
        &::before {
        content:"";
        position :absolute;
        bottom: 40rem;
        left: 27.3rem;
        transform: rotate(3deg);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0.2rem 4.5rem 4.5rem;
        border-color: transparent transparent white transparent;
        }
    }
}

// ---------------------- header -------------------

#head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../images/mobile/image-header.jpg");
    height: 90vh;
    background-position: center;
    background-size: cover;
        h1{
            font-family: $frauce;
            color: $White;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.5rem;
            font-size: 4rem;
        }
       
}