#footer {
    background-color: $cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer-nav{
        margin: 0;
        padding:0;
        @include flex;
        justify-content: space-evenly;
        width: 100%;
        li{
            list-style-type:none;
            margin:0;
            color: $Dark-desaturated-cyan;
            font-size: 1.5rem;
            
        }
    } 
    .footer-logo {
            margin: 4rem;
        }
    .social-media {
        @include flex;
        justify-content: space-evenly;
        width: 50%;
        li{
            list-style-type:none;
            margin:0;
           
        }
        svg,ul {
            padding: 3rem 0;
        }
       
    }
    
}