// ----------------------------------------single-page---------------------------

#header {
    font-family: $permanent;
    color :white ;
    h1 {
        margin-left : 4rem ;
    }
    
}


.single-page {

    background-color : $grey; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 8rem 0;
    border-radius: 36px;
    width: 90%;
    margin: auto;
    .card__body {
        text-align: center;
        h2 {
            font-family: $permanent;
            color : white;
            padding : 1rem 0 ;
        }
        h3 {
            color : $Dark-grayish-blue ; 
            font-size : 1rem;
            font-style: italic;
            padding : 1rem 0 ;
        }
        .card__copy {
            font-size : 1.2rem;
            color : white;
            padding : 1rem 0 4rem 0 ;
            
        } 
    }
        .card__header {
            border-radius :50% ; 
            overflow: hidden;
            width: 100px;
            height: 100px;
            margin: auto;
            img {
                width: 100px;
                height: auto;
                height: 100px;
            }
        }

        .card__footer {
            .card__actions {
                 display :flex;
                 justify-content: space-around;
                 width: 20rem;   
            }
            #udapte {
                background-color: #4d7dfc;
                text-decoration: none;
                border: none;
                border-radius: 5px;
                padding: 0.5rem 0.8rem;
                color: white;
                font-family: $roboto;
                font-style: italic;
                cursor : pointer ;
            }
            #delete-single{
                border-color :#aa3930;
                font-family: $roboto;
                font-style: italic;
                background-color: transparent;
                color : #aa3930;
                border-radius: 5px;
                padding: 0.5rem 0.8rem;
                border : 1px solid #aa3930;
                cursor : pointer ; 
            } 

        }

}


// -------------------------------------- udapte page ------------------------------------

#card {


    #preview {
        color :white; 
        font-family: $roboto;
        font-style : italic;
    }
    #imgInp{
        position :relative;
        margin: 1rem auto;
        width: 15rem;
       
        visibility: hidden;

    }
    label {
        margin-right: 15rem;
    color: white;
    font-family: 'Roboto';
    font-style: italic;
    cursor: pointer;
    }
    background-color :#343434; 
    align-items: center;
    padding: 5rem 0 8rem 0;
    border-radius: 36px;
    width: 90%;
    margin: auto;
    
    .input-group {
        position :relative;
        .ql-toolbar{
           
                .ql-formats{
            background-color: #f5f5f7;
            margin-right : 0 ;
            padding : 0.1rem 0 0 0;

        } 
        :first-child{
            
          border-radius: 10px 0 0 13px;

        }
        :nth-child(4){
            border-radius: 0px 13px 13px 0px;
            padding-right: 1rem;
        }
        }
   
    }
    input,textarea  {
        width: 51rem;
      }
      #name {
        height : 2rem;
        border-radius: 4px;
        background-color:#727071; 
        border : 1px solid white ;   
        color :white ;
        font-family: $permanent;
        font-size : 2rem;
        padding: 4px 2px 2px 12px;
      }
      #shortDescription{
        height : 1.5rem;
        background-color:#727071;
        border : 1px solid white;
        color : $Dark-grayish-blue ;  
        font-size : 1rem;
        margin: 1rem 0;
        padding: 4px 2px 2px 12px;

        
      }
      #shortdesctLen{
        position: absolute;
        left: 42.5rem;
        bottom: 13.8rem;
        font-size: 0.7rem;
        color: white;
        padding: 4px 16px;
       
      }
      #desctLen {
        position: absolute;
        left: 47rem;
        bottom: 0.6rem;
        font-size: 0.7rem;
        color: white;
        z-index: 1;
      }
      #contentLen {
        position: absolute;
        left: 44rem;
        bottom: 17.8rem;
        font-size: 0.7rem;
        color: white;
      }
      textarea {
          resize: none;
          border-radius: 4px;
      }
    flex-direction: column;
    align-items: center;
    .card__header {
        border: 2px solid white;
        border-radius :50% ; 
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100px;
            color :white;
            font-family : $roboto; 
            font-style : italic;
        }
    }

#editor-container{
    width: 53rem;
    height : 10rem;
    background-color: #727071;
    border-radius: 0px 0px 9px 9px;
   
}

.ql-toolbar {
    width: 53rem;
    border-radius: 16px 15px 16px 15px;
    padding : 0.1rem 0  0 0 ;
    background: grey;
    
    z-index: 1;
    position: relative;



}
.bck {
    position: absolute;
    background-color: #727071;
    width: 52.8em;
    height: 2rem;
    top: 5rem;
    border: 1px solid white;
    border-bottom: transparent;
    border-radius: 0rem;
    z-index: 0;
    border-radius: 0;
    top: 9rem;

}


.card__actions{
    margin-top : 3rem;
    width : 20rem ;
    display : flex ;
    justify-content: space-around;
    flex-direction: row;
    #save{
        background-color: #4d7dfc;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 0.8rem;
        color: white;
        font-family: $roboto;
        font-style: italic;
        cursor : pointer ;
    }
    #delete {
        border-color :#aa3930;
        font-family: $roboto;
        font-style: italic;
        background-color: transparent;
        color : #aa3930;
        border-radius: 5px;
        padding: 0.5rem 0.8rem;
        border : 1px solid #aa3930;
        cursor : pointer ; 
    }
}
}

// -------------------------------------- main page ------------------------------------

header {
    font-family: $permanent;
    color :white ;
    display: flex;
    h1 {
        margin-left : 3rem; 
        font-size: 2.5em; 
    }
    #search{
        margin-left: 67%;
        padding-left: 10px;
        font-family: $roboto;
        height: 30px;
        width: 160px;
        margin-top: 20px;
        border: 1px solid white;
        border-radius: 10px;
        color: rgba(#6d6969,0.8);
        font-size: 1.2em;
    }  
}
#target{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#container{
    background-color: #363333;
    color: white;
    margin: 28px;
    padding-top: 20px;
    padding-left: 15px;
    width: 250px;
    height: 350px;
    overflow: hidden;
    border: 1px solid #363333;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 26px 0px rgba(0,0,0,0.58); 
    box-shadow: 5px 5px 26px 0px rgba(0,0,0,0.58);
    -webkit-transition: all 1.2s 0.1s ease;
    -moz-transition: all 1.2s 0.1s ease;
    -o-transition: all 1.2s 0.1s ease;
    transition: all 1.2s 0.1s ease;
    &:hover {
       background-color: #585454;
       position : relative ;
       height: 400px;
       width: 300px;

    }
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 25%;
    }
    #character-name{
        font-family: $permanent;
        font-size: 2em;
    }
    #character-shortDescription{
        font-family: $roboto;
        color: #818498;
        font-size: 1.3em;
        height: 60px;
        overflow: hidden;
    }
    #character-id, #character-description{
        display: none;
    }
    #character-button{
        background-color: transparent;
        color: white;
        height: 25px;
        width: 80px;
        border: 1px solid white;
        border-radius: 25px;
        align-items: flex-start;
        text-align: center;
        font-family: $roboto ;
        font-weight: 800;
        cursor : pointer ;
    }
}
li{
    list-style: none;
}
#main-adding{
    margin-bottom: 50px;
    margin-left: 43vw;
    background-color: #4B7CFB;
    color: white;
    font-size: 1.3em;
    padding: 1rem 3.5rem 1rem 3.5rem;
    border: 1px transparent solid;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 26px 0px rgba(0,0,0,0.58); 
box-shadow: 5px 5px 26px 0px rgba(0,0,0,0.58);
    font-family : $roboto;
    font-weight: bold;
    cursor: pointer;
}

#loader{
    margin: 10rem auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}